# Course Number 4 (WEEK 1)
# Applied Text Mining in Python

## Lecture Name : Handling Text in Python

### Finding specific words

In [1]:
text1='Ethics are built right into the ideals and objectives of the United Nations '

In [2]:
# number of characters in text1

len(text1)

76

In [3]:
# compare this step with next step

text1.split()

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations']

In [4]:
# to know the words we have to split the text on space (' ') <- known as primitive tokenization
# splits text1 into tokens/words and see last token is space

text2=text1.split(' ')
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '']

In [5]:
len(text2)

14

In [6]:
# words that have more than three characters

[w for w in text2 if len(w)>3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [7]:
# words that have first letter as capital and other are small

[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [8]:
# words that ends with s
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

In [9]:
# # words that ends with any letter

[w for w in text2 if w.endswith('')]

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '']

### Finding unique words: using set()

In [10]:
text3='To be or not to be'

In [11]:
# splitting text3 into tokens

text4=text3.split(' ')

In [14]:
# set is another data structure like list,tuples
# returns unique words and is case sensative'To' and 'to' are different

set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [15]:
len(set(text4))

5

In [18]:
[w.lower() for w in text4]

['to', 'be', 'or', 'not', 'to', 'be']

In [19]:
# now counting only one 'to'

len(set(w.lower() for w in text4))

4

In [20]:
set(w.lower() for w in text4)

{'be', 'not', 'or', 'to'}

## Some word comparison functions.....

if s is list of words then i had used words in each explanation
if s is sentence then replace words by string

#### 1. s.startswith(t)
gives words that starts with t

#### s.endswith(t)
gives words that end with t

#### 2. t in s
check t is in s or not

#### 3. s.isupper()
gives words that have all characters in upper case

#### s.islower()
gives words that have all characters in lower case

#### s.istitle()
gives words that have first character in upper case

#### 4. s.isalpha()
gives words that are made of alphabets only

#### s.isdigit()
gives words that are made of digits only

#### s.isalnum()
gives words that are made of combination of alphabets and digits

## String operations
#### 1. s.lower() 
converts all characters into lower case

#### s.upper()
converts all characters into upper case

#### s.titlecase()
converts all characters into title case

#### 2. s.split(t)
split around 't'. 't' may be space also

#### 3. s.join(t)
converse of split, it joins 

#### 4. s.strip()
removes whitespaces or tab etc from starting and ending point

#### s.rstrip()
removes whitespaces or tab etc from ending point

#### 5. s.find(t)
it returns index whenever it finds first 't' in s

#### s.rfind(t)
it returns index whenever it finds lastmost 't' in s

#### 6. s.replace(u,v)
replace all 'u' characters by 'v' characters in s

### From words to characters

In [22]:
text5='ouagadougou'

In [23]:
# splits text5 around ou ,see next step for more clearity

text6=text5.split('ou')

In [24]:
# before ou in beginning there is no characters/combination of characters so it gives empty string
# after ou in end there is no characters/combination of characters so it gives empty string


text6

['', 'agad', 'g', '']

In [25]:
# join() is reverse of split function

'ou'.join(text6)

'ouagadougou'

In [26]:
'ou'.join

In [27]:
text7=text5.split('ag')
text7

['ou', 'adougou']

In [28]:
text8=text5.split('u')
text8

['o', 'agado', 'go', '']

In [29]:
# all characters of word

# Method 1:

list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [30]:
# Method 2:

[w for w in text5]

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

### Cleaning text

In [31]:
text9='  A quick brown fox jumped over the lazy dog. '

In [32]:
text9.split(' ')

['',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [42]:
text9

'  A quick brown fox jumped over the lazy dog. '

### Changing text

In [33]:
# removes space/tab from beginning and end

text10=text9.strip()
text10

'A quick brown fox jumped over the lazy dog.'

In [34]:
# returns index where first 'o' is found

text10.find('o')

10

In [35]:
text10.find('A')

0

In [39]:
text10.find('.')

42

In [40]:
# returns index where last 'o' is found <- known as reverse find

text10.rfind('o')

40

In [41]:
# replacing all 'o' with '0'

text10.replace('o','0')

'A quick br0wn f0x jumped 0ver the lazy d0g.'

### Handling larger texts

In [43]:
# opening file in read mode

f=open('week1_course4.txt','r')

In [51]:
# it reads the first line and '\n' indicates the end of first line
# reads line by line from file,if we continue run this step we will see output will change at each run

text_10=f.readline()
text_10

'To understand the gradient descent algorithm, it is helpful to visualize the entire\n'

In [49]:
# removinglast new line character '\n'

text_10.rstrip()

'illustrated in Figure 4.4. Here the axes wo and wl represent possible values for'

In [50]:
# set read or pointer from first line

f.seek(0)

0

In [52]:
# reading full file

text11=f.read()

In [53]:
# number of characters

len(text11)

744

In [54]:
# it splits whole documents into lines (line means which ends with delimeter '\n')
# here we don't get '\n' at the end of line b'coz we are breaking it around '\n'

text12=text11.splitlines()
text12

['hypothesis space of possible weight vectors and their associated E values, as',
 'illustrated in Figure 4.4. Here the axes wo and wl represent possible values for',
 'the two weights of a simple linear unit. The wo, wl plane therefore represents',
 'the entire hypothesis space. The vertical axis indicates the error E relative to',
 'some fixed set of training examples. The error surface shown in the figure thus',
 'summarizes the desirability of every weight vector in the hypothesis space (we',
 'desire a hypothesis with minimum error). Given the way in which we chose to',
 'define E, for linear units this error surface must always be parabolic with a single',
 'global minimum. The specific parabola will depend, of course, on the particular',
 'set of training examples.']

In [55]:
len(text12)

10

In [56]:
text12[0]

'hypothesis space of possible weight vectors and their associated E values, as'

In [59]:
text12[9]

'set of training examples.'

## File Operations

#### 1. f=open(filename,mode) 
mode : r for read and w for write

#### 2. f.readline() : read line by line
#### f.read() : read whole file at once
#### f.read(n) : read first n characters from file

#### 3. f.seek(n)
it sets the pointer fron line number 'n'

#### 4. f.write(message)
it writes the message into that file

#### 5. f.close()
counter part of open so it closes the file after all operations

## Lecture Name : Regular Expressions

In [60]:
# twitts from twitter

text13='"Ethics are built right into the ideals and objectives of the United Nations" #UNSG @ NY Society for Ethical culture bit.ly/2guVelr @UN @UN_Women'

In [61]:
# see output

text14=text13.split(' ')
text14

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'culture',
 'bit.ly/2guVelr',
 '@UN',
 '@UN_Women']

In [62]:
# hashtags
# words that starts with '#'

[w for w in text14 if w.startswith('#')]

['#UNSG']

In [63]:
# callouts
# words that starts with '@' but we also got one extra word('@' : see below output list) which is not callouts

[w for w in text14 if w.startswith('@')]

['@', '@UN', '@UN_Women']

## Finding patterns with regular expressions

#### callouts are more than just tokens beginning with '@'
for eg: @katperry , @coursera

#### Match something after '@'
1.Alphabets
2.Numbers
3.Special symbols like '_'

what above means(see below notation)

#### @[A-Za-z0-9_]+
after '@' atleast one times occurence of individual or mixup of A-Z,a-z,0-9,_

#### Meta-characters: Character matches
.(dot) : wildcard, matches a single character<br/>
^ : start of a string<br/>
$ : end of string<br/>
[ ] : matches one of the set of characters within[ ]<br/>
[a-z] : matches one of the range of characters a,b,.....,z<br/>
[^abc] : matches a character that is not a,b or c<br/>
a|b : matches either a or b, where a and b are strings<br/>
() : scoping for operators<br/>
\ : escape character for special characters (\t,\n,\b)

#### Meta-characters: Characters symbols 
\b : Matches word boundary<br/>
\d : Any digit,equivalent to [0-9]<br/>
\D : Any non-digit,equivalent to [^0-9]<br/>
\s : Any whitespace,equivalent to [ \t\n\r\f\v]<br/>
\S : Any non-whitespace,equivalent to [^ \t\n\r\f\v]<br/>
\w : Alphanumeric character,equivalent to [a-zA-Z0-9_]<br/>
\W : Non-alphanumeric,equivalent to [^a-zA-Z0-9_]

#### Meta-characters: Repetitions
*(star) : matches zero or more occurences<br/>
+(plus) : matches one or more occurences<br/>
? : matches zero or one occurences<br/>
{n} : exactly n repetitions, n>=0<br/>
{n,} : at least n repetitions<br/>
{,n} : at most n repetitions<br/>
{m,n} : at least m and at most n repetitions

#### Note:
see below all steps of code to clear out the above concepts

In [3]:
# importing regular expression first

import re

In [65]:
# it returns exact callouts words

# Method 1:

[w for w in text14 if re.search('@[A-Za-z0-9_]+',w)]

['@UN', '@UN_Women']

In [66]:
# see above concept for information about '\w'

# Method 2:

[w for w in text14 if re.search('@\w+',w)]

['@UN', '@UN_Women']

#### Finding specific characters

In [67]:
text15='ouagadougou'

In [68]:
# r stands for regular expression and we are finding regular expression which have vowels

re.findall(r'[aeiou]',text15)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [69]:
# returning non-vowels

re.findall(r'[^aeiou]',text15)

['g', 'd', 'g']

## Case study: Regular expressions for Dates

#### Date variations for 23rd october 2002
23-10-2002<br/>
23/10/2002<br/>
23/10/02<br/>
10/23/2002<br/>
23 oct 2002<br/>
23 october 2002<br/>
oct 23,2002<br/>
october 23,2002

In [1]:
datestr='23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 oct 2002\n23 october 2002\noct 23,2002\noctober 23,2002\n'

In [4]:
# to clear out what does this all symbols represents see above concepts

re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}',datestr)

['23-10-2002', '23/10/2002', '10/23/2002']

In [5]:
# see difference from above step

re.findall(r'\d{2}[/-]\d{2}[/-]\d{2,4}',datestr)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [6]:
# date and month can be of single digit for eg: 28-6-2018

re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}',datestr)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [7]:
# dealing with date which contains jan|feb|......
# it extracts whole string ('23 oct 2002') but only chooses 'oct' b'coz it has scoping( see below () )

re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|oct|Nov|Dec) \d{4}',datestr)

['oct']

In [8]:
# solving above step problem in this step

re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|oct|Nov|Dec) \d{4}',datestr)

['23 oct 2002']

In [9]:
# we put * because we have month May which is of three character only

re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|oct|Nov|Dec)[a-z]* \d{4}',datestr)

['23 oct 2002', '23 october 2002']

In [58]:
re.findall(r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|oct|Nov|Dec)[a-z]*  (?:\d{2}, )?\d{4}',datestr)

[]

## Lecture Name : Demonstration ( Regex with Pandas and Named Groups )

In [6]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.",
                 "Tuesday: The dentist's appointment is at 11:30 am.",
                 "Wednesday: At 7:00pm, there is a basketball game!",
                 "Thursday: Be back home by 11:15 pm at the latest.",
                 "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences,columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [8]:
# Using the str attribute we are able to access the set of string processing methods to make it 
# easy to operate on each element in the series. 
# df['text'].str?
# returning number of characters in each of the line

df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [9]:
df['text'].str

In [10]:
# splitting on unwhite space

df['text'].str.split()

0    [Monday:, The, doctor's, appointment, is, at, ...
1    [Tuesday:, The, dentist's, appointment, is, at...
2    [Wednesday:, At, 7:00pm,, there, is, a, basket...
3    [Thursday:, Be, back, home, by, 11:15, pm, at,...
4    [Friday:, Take, the, train, at, 08:10, am,, ar...
Name: text, dtype: object

In [11]:
# after splitting (as in last step) then it counts number of words 

df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [12]:
# checking appointment words comes in which rows of particular 'text' column

df['text'].str.contains("appointment")

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [13]:
# checking number of digits in each rows

df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [14]:
# checking which of the digits appear in each of the rows

df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [15]:
# exact details about digit appearance
# DOUBT

df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [17]:
df['text'].str.replace(r'\w+day\b','???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [20]:
df['text'].str.extract(r' (\d?\d):(\d\d)')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [21]:
df['text'].str.extractall('(\d?\d):(\d\d) ?([ap]m)')

          0   1   2
  match
0 0       2  45  pm
1 0      11  30  am
2 0       7  00  pm
3 0      11  15  pm
4 0      08  10  am
  1      09  00  am